{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Sign in </title>
    <link rel="shortcut icon" href="{% static 'image/Mainlogo.png' %}" type="image/x-icon">
   </head>
    <body>
  

        <div class="signinsection">
        <form action="/patient/patient signin" method="post">
            {% csrf_token %}
            <div class="logoo">
            <img src="{% static 'image/logo.png ' %}" alt=" Hospital logo">
            <h3>Medica</h3>
           </div>
            <div class="signinform">
                <h3>Sign In</h3>
                <p class="signinp1">Sign in to continue to our hospital</p>
                <label for="pusername">UserName:</label>
                <input type="text"  id="pusername" name="pusername" placeholder="Enter Your UserName:" required>
                <label for="ppassword1">Password:</label>
                <input type="password"  id="ppassword1" name="ppassword1" placeholder="Enter Your Password:" required>
                    <button type="submit">Sign In</button>
                    <p class="signinp2">Dont have an Account? <a href="/patient/patient signup" >Sign Up</a></p>
            </div>
        </form>
    </body>
</html>
