.logo{
    display: flex;
    background-color:#184040;
    width: 100%;
    height: 76px;
  
  }
  .logo .logo-img{
    width: 95px;
  height: 70px;
  margin-right: -4px;
  }
  .logo h3{
    float: left;
    font-size: 35px;
     font-weight: 700;
     top: 17px;
     color: white;
    margin-top: 9px;
  }
  .signiup .content{
    background-image: url("../images/doct.jpg");
        width: 100%;
        height: 539px;
        background-size: cover;
        margin-top: -11px;
  }
  .signiup .form{
    background-color: #698585;
      height: 539px;
      width: 435px;
      margin-left: 100px;
  
  }
  .form a{
      color: white;
      text-decoration: none;
  }
  
  .signiup h3{
     color: white;
     margin: 10px;
     font-weight: 700;
     font-size: 35px;
     margin-top: 5px;
  
  
  }
  .signiup input {
  
         display: block;
          margin: 15px;
          position: relative;
          right: 35px;
          border: 7px solid white;
         border-radius: 9px;
  
  }
  .signiup label{
     font-weight: 600;
     font-size: 25px;
     position: relative;
     right: 15px;
     color: white;
  }
  .signiup button{
     padding: 10px 100px;
     border-radius: 8px;
     border: none;
     color:white;
     background-color: #184040;
     font-weight: 700;
     font-size: 25px;
     margin: 20px;
     margin-left: 45px;
     bottom: 170px;
  }
  .signupp2{
      color: black;
      font-size: 20px;
      margin-left: 30px;
      position: absolute;
      bottom: 10px;
  }
  .signupp2 a{
      color: #FFFFFF;
      text-decoration: none;
      font-size: 20px;
      margin: 8px;
  }
  .signupp1 {
      color: white;
      font-weight: 700;
      font-size: 25px;
    padding: 10px;
    padding-bottom: 15px;
  
  }
  .part1{
      float: left;
      position: relative;
      left: 25px;
  }
  .part2{
      float: left;
      position: relative;
      left: 25px;
  }
  